<!--============================= SUBPAGE HEADER BG =============================-->
@model List<ASP_Final.Models.Blog>
<section class="subpage-bg">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="title-block title-block_subpage">
                    <h2>Our Official Blog</h2>
                    <p><a href="@Url.Action("index","home")"> Home</a> / Blog</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--// SUBPAGE HEADER BG -->
<!--============================= BLOG 2 =============================-->

<section class="main-block">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-3 article-first">
                    <div class="news-block"  style="height:500px" >
                        <img src="~/Public/images/upload/@item.SmallImage" alt="#" class="img-fluid">
                        <div class="news-title">
                            
                            <span>@item.Date.ToShortDateString()</span>
                            <span>@item.Categ</span>
                            <h5>@item.Title</h5>
                            <a href="@Url.Action("details","blog", new {Id =item.Id })" class="blog2-link">Read More ➝</a>
                        </div>
                    </div>
                </div>
            }
           
        </div>
        
    </div>
</section>

<!--//END BLOG -->