<!--============================= BOOKING =============================-->
@model ASP_Final.Models.VwPlaceDetails
<div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in Model.Place.Photos)
            {
                if (item != null)
                {
                    <div class="swiper-slide">
                        <a href="~/Public/images/upload/@item.PhotoName" class="grid image-link">
                            <img src="~/Public/images/upload/@item.PhotoName" style="width:33vw; height:auto" class="img-fluid" alt="#">
                        </a>
                    </div>
                }
            }

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
</div>
<!--//END BOOKING -->
<!--//END BOOKING -->
<!--============================= RESERVE A SEAT =============================-->

<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <br />
                <h5>@Model.Place.Name</h5>
                <p><span>$$$</span>$$</p>
                <p class="reserve-description">@Model.Place.Slogan</p>
            </div>
            <div class="col-md-6">
                <div class="reserve-seat-block align-items-center">
                    <div class="reserve-rating mx-0 mx-md-3">
                        <span>9.5</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->

<section class="gray-dark booking-details_wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-8 responsive-wrap">
                <div class="booking-checkbox_wrap">
                    <div class="booking-checkbox">
                        <p>@Model.Place.Description</p>
                        <hr>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.Place.PlaceServices)
                        {
                            <div class="col-md-4">
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@item.Service.Name</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="booking-checkbox_wrap booking-your-review">
                    <h5>Write a Review</h5>
                    <hr>
                    <div class="customer-review_wrap">
                        <div class="customer-img">
                            <img src="~/Public/images/avatar.jpg" class="img-fluid" alt="#">
                        </div>
                        <div class="customer-content-wrap">

                            <form method="post" id="rate" enctype="multipart/form-data">
                                <div class="your-rating-wrap">
                                    <span>Your rating</span>
                                    <div class="customer-review">
                                        <div class="my-rating" id="rating">

                                        </div>
                                        <input type="hidden" id="rateval" name="ratingvalue" value="" />
                                    </div>
                                </div>
                                <input type="hidden" name="PlaceId" id="PlaceId" value="@Model.Place.Id" />
                                <div class="your-comment-wrap">
                                    <textarea name="Comment" id="Comment" class="your-rating-content" placeholder="Enter Your Comments"></textarea>
                                    <h6 class="your-rating-notify">at least 140 characters</h6>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 mr-auto">
                                        <div class="add-photos-link mb-3 mb-md-0">
                                            <div class="add-gallery-text">
                                                <i class="ti-gallery"></i>
                                                <span>Add photo</span>
                                            </div>
                                            <input name="filess" id="filess" type="file" class="custom-file-input" multiple>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="your-rating-btn">
                                            <br />
                                            <button type="submit" class="btn btn-danger btn-block">Publish Review</button>
                                        </div>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="booking-checkbox_wrap my-4">
                    <h4>143 Reviews</h4>
                    @foreach (var item in Model.Comments)
                    {
                        <hr>
                        <div class="customer-review_wrap">
                            <div class="customer-img">
                                <img src="~/Public/images/avatar.jpg" class="img-fluid" alt="#">
                                <p>@item.User.Fullname</p>

                            </div>
                            <div class="customer-content-wrap" data-id="@item.Id">
                                <div class="customer-content">
                                    <div class="customer-review">

                                        @{ TimeSpan s = DateTime.Now.Subtract(item.Date);}
                                        @if (item.Date.Day == DateTime.Now.Day)
                                        {
                                            <p> @item.Date.ToString("HH:mm:ss")</p>

                                        }
                                        else if (s.TotalDays >= 1 && s.TotalDays < 2)
                                        {
                                            <p>1 day ago </p>
                                        }
                                        else if (s.TotalDays > 2 && s.TotalDays < 3)
                                        {
                                            <p> 2 days ago</p>
                                        }
                                        else if (s.TotalDays > 3 && s.TotalDays < 4)
                                        {
                                            <p> 3 days ago</p>
                                        }
                                        else
                                        {
                                            <p>  @item.Date.ToString("HH:mm:ss dd/MMM/yyyy")</p>
                                        }
                                    </div>
                                    <div class="customer-rating">@(Convert.ToInt32(item.Rating) * 2)</div>
                                </div>
                                <p class="customer-text">
                                    @item.Text
                                </p>

                                <ul>
                                    @foreach (var ph in item.CommentPhotos)
                                    {
                                        <li><img src="~/Public/images/upload/@ph.Photo" class="img-fluid" alt="#"></li>
                                    }

                                </ul>
                                <p>@item.Reactions.Where(x => x.CommentId == item.Id && x.Type == 1).Count() people rewiew as helpful</p>
                                <p>@item.Reactions.Where(x => x.CommentId == item.Id && x.Type == 2).Count() people rewiew as bullshit</p>
                                <button type="button" id="helpful" class="helpful @if (Session["User"]!=null)
	{
		 if (item.Reactions.Where(x => x.UserId == (int)Session["User"]).FirstOrDefault()!=null)
                                {
                                    if (item.Reactions.Where(x => x.UserId == (int)Session["User"]).FirstOrDefault().Type==1)
                                    {
                                     @:hgreen
                                    }

                                    }
                                }   " data-id="@item.Id">
                                    <span class="icon-like"></span>Helpful
                                </button>
                                <button type="button" id="unhelpful" class="unhelpful @if (Session["User"]!=null)
	{
		 if (item.Reactions.Where(x => x.UserId == (int)Session["User"]).FirstOrDefault()!=null)
                                {
                                    if (item.Reactions.Where(x => x.UserId == (int)Session["User"]).FirstOrDefault().Type==2)
                                    {
                                     @:uhred
                                    }

                                    }
                                }" data-id="@item.Id">
                                    <span class="icon-like"></span>Unhelpful
                                </button>
                            </div>
                        </div>
                    }
                    <hr>
                </div>
            </div>
            <div class="col-md-4 responsive-wrap">
                <div class="contact-info">
                    <div id="map" style="height:300px"></div>
                    <div class="mapitem d-none" data-lat="@Model.Place.Lat" data-lng="@Model.Place.Lng" data-name="@Model.Place.Name"></div>
                    <div class="address">
                        <span class="icon-location-pin"></span>
                        <p>@Model.Place.Address</p>
                    </div>
                    <div class="address">
                        <span class="icon-screen-smartphone"></span>
                        <p>@Model.Place.Phone</p>
                    </div>
                    <div class="address">
                        <span class="icon-link"></span>
                        <p><a href="@Model.Place.Website">@Model.Place.Website</a></p>
                    </div>
                    <div class="address">
                        <span class="icon-clock"></span>
                        <p>Mon - Sun 09:30 am - 05:30 pm </p>
                        <a href="#" class="featured-open">OPEN NOW</a>
                    </div>
                    <a href="#" class="btn btn-outline-danger btn-contact">SEND A MESSAGE</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--//END BOOKING DETAILS -->
@section scripts{


    <script src="~/Public/js/swiper.min.js"></script>
    <script src="~/Public/js/jquery.magnific-popup.js"></script>

    <script>
        var swiper = new Swiper('.swiper-container',
            {
                slidesPerView: 3,
                slidesPerGroup: 3,
                loop: true,
                loopFillGroupWithBlank: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
    </script>
    <script>
        if ($('.image-link').length) {
            $('.image-link').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
        if ($('.image-link2').length) {
            $('.image-link2').magnificPopup({
                type: 'image',
                gallery: {
                    enabled: true
                }
            });
        }
    </script>
    <script src="~/Public/js/jquery.star-rating-svg.js"></script>
    <script>
        $(".my-rating").starRating({
            initialRating: 4,
            strokeColor: '#894A00',
            hoverColor: '#46cd38',
            ratedColor: '#ff4b00',
            strokeWidth: 10,
            starSize: 25,
            useGradient: true,
            callback: function (currentRating, $el) {
                $("#rateval").val(currentRating);
                
            }
        });
    </script>
    <script src="~/Public/js/details.js"></script>


}

