@model ASP_Final.Models.VwPlaceShow


<section class="featured-wrap">
    <div class="container-fluid container-subpage">
        <div class="row">
            <div class="col-md-7 responsive-wrap">
                <div class="row detail-filter-wrap">
                    <div class="col-md-4 featured-responsive">
                        <div class="detail-filter-text">
                            <p>
                                @Model.Count Results For <span>
                                @if (Model.IsAllSame == false)
                                {
                                    @Model.Places.FirstOrDefault().City.Name
                                }
                                else
                                {
                                    if (@Model.Places.FirstOrDefault() != null)
                                    {
                                        @Model.Places.FirstOrDefault().Category.Name
                                    }
                                }
                            </span>
                        </p>
                    </div>
                </div>
             

            </div>
            <div class="map-responsive-wrap">
                <a class="map-icon btn btn-block" href="#"><i class="icon-location-pin"></i> <small>OPEN LISTING IN MAP</small></a>
            </div>
          
            <div class="row">
                @if (Model.Places != null)
                {
                    int i = 0;
                    foreach (var item in Model.Places.ToList())
                    {
                        <div class="col-md-6 card-2">
                            <!-- card-1 -->
                            <div class="card" data-name="@item.Name" data-id="@item.Id">
                                <a href="@Url.Action("details","place",new {id=@item.Id })">
                                    <div class="imgitem">
                                        <img class="card-img-top" style="  position: relative;
    float: left;
    width:  420px;
    height: 270px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;" src="~/Public/images/upload/@item.Photos.FirstOrDefault().PhotoName" alt="Card image cap">
                                    </div>

                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <ul class="card-rating  d-flex justify-content-between align-items-center">
                                        <li>5.0</li>
                                        <li class="flex-grow-1">45 ratings</li>
                                        <li class="category"><i class="@item.Category.Icon"></i>@item.Category.Name</li>
                                    </ul>
                                    <p class="card-text">@item.Slogan</p>
                                </div>
                                <div class="card-bottom">
                                    <p><i class="ti-location-pin"></i>@item.City.Name</p>

                                    @if (Model.IsOpenedNow[i] == 1)
                                    {
                                        <span class="open-close_green">Opened Now</span>
                                    }
                                    else
                                    {
                                        <span>Closed Now</span>
                                    }



                                </div>
                            </div>
                        </div>
                        i++;
                    }

                }


            </div>
        </div>

        <div class="col-md-5 responsive-wrap map-wrap">
            <div class="map-fix">
                <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->
                <a href="javascript:void(0);" class="map-close"><span class="ti-close"></span></a>
                <div id="map"></div>
                @if (Model.Places != null)
                {

                    foreach (var item in Model.Places.ToList())
                    {
                        <div class="d-none mapitem" data-lat="@item.Lat" data-lng="@item.Lng" data-name="@item.Name"></div>
                    }
                }
            </div>
        </div>
    </div>
</div>
</section>

@section scripts{


    <script src="~/Public/js/Show.js"></script>


}